.colors {
  display: flex;
  gap: 12px;
}

.colors button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #d1d5db;
}

.active {
  border: 3px solid black !important;
}

.colorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.colorWrapper span {
  font-size: 12px;
}